{% extends 'main/dashboard/dashboard_layout.html' %}
{% load static %}

{% block dash_content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Давление</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button type="button"
                        class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                    <svg class="bi">
                        <use xlink:href="#calendar3"/>
                    </svg>
                    За всё время
                </button>
            </div>
        </div>

        <canvas class="my-4 w-100" id="info_chart" width="900" height="380"></canvas>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
            integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
            crossorigin="anonymous"></script>

    <script>
        (() => {
            const ctx = document.getElementById('info_chart')
            const infoChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for item in pressures %}"{{ item.time }}",{% endfor %}],
                    datasets: [{
                        data: [{% for item in pressures %}{{ item.value }}, {% endfor %}],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 4,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        tooltip: {
                            boxPadding: 3
                        }
                    }
                }
            })
        })()
    </script>
{% endblock %}